body {
  background-image: url("gg.jpg");
  color: #a7c957;
  font-family: "Libertinus Serif";
  
}

.center-text {
  text-align: center;
}

header {
  position: fixed;         /* Keeps it stuck to the top */
  top: 0;                  /* Aligns it to the top edge */
  left: 0;                 /* Aligns it to the left edge */
  width: 100vw;            /* Full viewport width */
  z-index: 1000;           /* Keeps it above other elements */
  background-color: #006400;
  padding-bottom: 20px;
}

h1 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
}

body {
  margin-top: 140px; /* Adjust based on header height */
}

p {
  color: #3b2911;
  padding-left: 20px;
  font-size: 16px;
}


nav a {
  color: #a7c957;
  text-decoration: none;
  font-family: "Libertinus Serif";
}

label {
  color: #123d08;
}

input[type="text"],
textarea {
  background-color: #a7c957;
  color: #6d4643;
  font-family: "Libertinus Serif";
  border: 2px solid #999;
  border-color:  #6d4643;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.line {
  height: 3px;
  background-color: #006400;
}


img {
      width: 100%; /* Make the image span the full width */
      height: auto; /* Maintain the aspect ratio */
    }
    
.img-border {
  border: 3px solid;
  color: #006400;
  border-radius: 10px;
}
    
.container {
      display: flex;
      align-items: flex-start; /* Aligns items at the top */
      gap: 50px;               /* Adds space between form and image */
    }
    
.box {
  background-color: #6a994e;
  width: 300px;
  height: 397px;
  color: white;              /* text color */
  font-size: 18px;
  text-align: center;
  border-radius: 10px;       /* optional: rounded corners */
  border: 3px solid;
  border-color: #006400;
}

.box1 {
  background-color: #6a994e;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;       /* optional: rounded corners */
  border: 3px solid;
  border-color: #006400;
  margin-top: 5px;
}

.box2 {
  width: 600px;
  height: 150px;
  font-size: 18px;
  border-radius: 10px;       /* optional: rounded corners */
  border: 3px solid;
  border-color: #006400;
}
    
    
